*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--ff-prim: "Open Sans", sans-serif;
	--ff-mono: "Roboto Mono", monospace;

	--fw-thin: 300;
	--fw-reg: 400;
	--fw-bold: 600;

	--fs-h1: 3rem;
	--fs-h2: 2.5rem;
	--fs-h3: 2rem;
	--fs-body: 1.5rem;

	--clr-accent: #364451;
	--clr-darkaccent: #282F35;
	--clr-white: #ffffff;
}

@media (max-width: 767px){
	:root {
		--fs-h1: 2rem;
		--fs-h2: 1.75rem;
		--fs-h3: 1.25rem;
		--fs-body: 1rem;
	}
}

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }

strong {
	font-weight: var(--fw-bold);
}

body {
	font-family: var(--ff-prim);
	font-size: var(--fs-body);
	font-weight: var(--fw-reg);
	color: var(--clr-white);
	margin: 0;
	padding: 0;
}

section, h3{
	margin: 0;
	padding: 0;
}

a:link, a:visited {
	text-decoration: none;
	color: inherit;
}

header {
	position: sticky;
}

.container {
	padding: 15px;
}

.bg-darkaccent {
	background-color: var(--clr-darkaccent);
	color: var(--clr-white);
}

.bg-accent {
	background-color: var(--clr-accent);
	color: var(--clr-white);
}

.bg-white {
	background-color: var(--clr-white);
	color: var(--clr-darkaccent);
}

.text-center {
	text-align: center;
}

.divider {
	background: url(../img/miring.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 200px;
}


/* NAVBAR SECTION */
.navbar {
	text-align: right;
	background-color: var(--clr-darkaccent);
	max-height: 10vh;
	min-height: 10vh;
}

.navbar ul {
	margin: 0.5rem;
}

.navbar-item {
	display: inline;
}

.navbar-item > a{
	padding: 1px 5px 1px 5px;
	border-radius: 3px;
}

.navbar-item > a:hover {
	background-color: rgba(255,255,255,0.6);
	color: var(--clr-darkaccent);
}
/* NAVBAR SECTION */



/* INTRO/LOGO SECTION */
.intro {
	min-height: 90vh;
	padding: 0.1px;
}

.intro-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr min-content 1fr;
	margin: 0 auto;
	padding: 0;
	max-width: 50%;
	min-width: 600px;
	height: 90vh;
}

.intro-logo {
	grid-row: 2/3;
}

.intro-img {
	max-width: 100%;
}

.intro-subtitle {
	font-size: 1.7rem;
	padding-top: 4vh;
}

.scroll-down {
	position: relative;
	text-align: center;
}

.scroll-down_more {
	position: absolute;
	width: 100%;
	bottom: 20px;
	right: 0;
}
/* INTRO/LOGO SECTION */



/* SERVICES SECTION */
.services {
	padding-bottom: 10vh;
}

.services > h2 {
	margin-top: 0;
}

.services-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-row-gap: 2.5em;
	margin-top: 7vh;
}

.service-item {
	text-align: center;
}

.service-text {
	margin: 0;
}
/* SERVICES SECTION */



/* OUR WORK SECTION */
.youtube-posts {
	margin: 0 40px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1em;
}


.youtube-post {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-top: 42.85%;
}

.iframe-youtube-post {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}
/* OUR WORK SECTION */




/* OUR TEAMS SECTION */
.team-container {
	margin: 0 auto;
	max-width: 50%;
}

.team-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
}

.team-member {
	text-align: center;
}

.team-pict {
	max-width: 75%;
	border-radius: 100%;
	background: #444;
}

.team-pos {
	margin-top: 0;
}

/* OUR TEAMS SECTION */



/* ABOUT US SECTION */
.about-us {
	max-width: 60%;
	margin: 0 auto;
}
/* ABOUT US SECTION */



/* OUR CLIENTS SECTION */
.client-container {
	max-width: 70%;
	margin: 4em auto;
}

.client-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.client-item {
	text-align: center;
}
/* OUR CLIENTS SECTION */



/* CONTACT US SECTION */
.contact-us h2.section-title, .contact-us p.section-subtitle{
	margin: 0;
}

.contact-us-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.contact-us-container {
	padding: 20px 0;
	max-width: 50%;
	margin: 0 auto;
}
/* CONTACT US SECTION */



/* SOCIAL LINKS SECTION */
.social-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	font-size: var(--fs-h2);
}

.social-item {
	line-height: 1;
	text-align: center;
	margin: 0;
}

.social-item i {
	vertical-align: bottom;
}

i#map {
	vertical-align: initial;
}

.social-item br {
	font-size: 1px;
}

.social-item_subtitle {
	margin: 0;
	font-size: 0.75rem;
}
/* SOCIAL LINKS SECTION */


#team h2 {
	margin-bottom: -.5em; 
}


/** LARGE DEVICES **/
@media (min-width: 768px) {
	.hidden-reg {
		display: none;
	}

	.team-member {
		padding: 30px 0 0;
		border: 2px solid black;
		border-radius: 5px;
	}

	.team-container {
		min-width: 600px;
	}

	.team-pos {
		margin-top: 0;
		font-size: 1vw !important;
	}

	.team-small {
		padding: 20px;
	}

	h3.team-name {
		font-size: 1.3vw !important;
	}
}

/** MEDIUM DEVICES **/
/*@media (min-width: 768px){

}*/

/** SMALL DEVICES **/
@media (max-width: 767px) {
	.hidden-sm {
		display: none;
	}

	.intro-container {
		max-width: 80%;
		min-width: 300px;
		height: 95vh;
	}

	.intro-subtitle {
		font-size: 3.5vw;
	}

	.services-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.youtube-posts {
		grid-template-columns: 1fr;
	}

	.team-container {
		max-width: 80%;
	}

	.team-grid {
		grid-template-columns: 1fr;
	}

	.about-us {
		max-width: 80%;
	}

	.client-container {
		max-width: 50%;
	}

	.client-grid {
		grid-template-columns: 1fr 1fr;
		grid-gap: 4em;
	}

	.contact-us-container {
		max-width: 100%;
	}

	.divider {
		height: 100px;
	}
}
